<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 class="h2">RICCIWAWA</h2>
                <hr style="border: 1px dashed; width: 80%;">
                <p class="eng" style="margin: 0px 50px 0px 0px;">We created Ricciwawa with one goal in mind - to make Chinese learning fun, easy and tailored for all.
                    <br><br>If there is anyway we can do better, let us know and we will follow up with you as soon as possible.<br><br><a href="{% url 'web:contact' %}" style="text-decoration: none;"><strong style="font-weight:600;color:#ff7c34;">CONTACT US</strong></a></p>
                <p class="chinese_tw" style="margin: 0px 50px 0px 0px;">我們在創立Ricciwawa時懷抱著一個堅定的信念 - 讓學習中文變得簡單，有趣和個性化。
                    <br><br>如果有可以改進或者做的更好的地方，請務必告訴我們。 我們會儘快跟進<br><br><strong style="font-weight:600;color:#ff7c34;">聯繫我們 </strong></p>
                <p class="chinese_cn" style="margin: 0px 50px 0px 0px;">我们在创立Ricciwawa时怀抱着一个坚定的信念 - 让学习中文变得简单，有趣和个性化。
                    <br><br>如果有可以改进或者做的更好的地方，请务必告诉我们。我们会尽快跟进。<br><br><strong style="font-weight:600;color:#ff7c34;">联系我们</strong></p>
            </div>
            <div class="col-sm">
                <h2 class="h2 eng">MORE</h2>
                <h2 class="h2 chinese_tw">更多</h2>
                <h2 class="h2 chinese_cn">更多</h2>
                <hr style="border: 1px dashed; width: 80%;">
				<!--
                <li class="toggle eng"><a href="/qna"><i class="fas fa-plus"></i> <strong>Q&A</strong></a></li>
                <li class="toggle chinese_tw"><a href="/qna"><i class="fas fa-plus"></i> <strong>常見問題</strong></a></li>
                <li class="toggle chinese_cn"><a href="/qna"><i class="fas fa-plus"></i> <strong>常见问题</strong></a></li>
				-->
                <li class="toggle eng"><a href="{% url 'web:privacy_policy' %}"><i class="fas fa-plus"></i> <strong>Privacy Policy</strong></a></li>
                <li class="toggle chinese_tw"><a href="{% url 'web:privacy_policy' %}><i class="fas fa-plus"></i> <strong>隱私政策</strong></a></li>
                <li class="toggle chinese_cn"><a href="{% url 'web:privacy_policy' %}"><i class="fas fa-plus"></i> <strong>隐私政策</strong></a></li>
				
                <li class="toggle eng"><a href="{% url 'web:terms_of_service' %}"><i class="fas fa-plus"></i> <strong>Terms of Service</strong></a></li>
                <li class="toggle chinese_tw"><a href="{% url 'web:terms_of_service' %}"><i class="fas fa-plus"></i> <strong>服務條款 </strong></a></li>
                <li class="toggle chinese_cn"><a href="{% url 'web:terms_of_service' %}"><i class="fas fa-plus"></i> <strong>服务条款</strong></a></li>
            </div>
            <div class="col-sm">
                <h2 class="h2 eng">CONTACT US</h2>
                <h2 class="h2 chinese_tw">聯繫我們 </h2>
                <h2 class="h2 chinese_cn">联系我们</h2>
                <hr style="border: 1px dashed; width: 80%;">
                <strong style="font-weight:600;">41 Ha Shan Kai Wat, Fanling, NT</strong>
                <li><a href="tel:56665566"><strong><b class="eng">Phone:</b><b class="chinese_tw">電話:</b><b class="chinese_cn">电话:</b> +852 6544 8351</strong></a></li>
                <li><a href="https://instagram.com/ricciwawa/"><strong><b class="eng">Instagram:</b><b class="chinese_tw">傳真:</b><b class="chinese_cn">传真:</b> instagram.com/ricciwawa/</strong></a></li>
                <li><a href="mailto:info@ricciwawa.com"><strong><b class="eng">Email:</b><b class="chinese_tw">郵箱:</b><b class="chinese_cn">邮箱:</b> info@ricciwawa.com</strong></a></li>
            </div>
        </div>
    </div>
</footer>