{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricciwawa</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'resources.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="{% static 'intl-tel-input/intlTelInput.css' %}">
    <!--OwlCarousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</head>

<body>
    {% include 'web/header.html' %}

    <div class="container section-one">
        <h2 class="h2" style="font-weight:900;">HOT STORIES TODAY</h2>
        <section id="demos" class="owl-section-one">
            <div class="owl-carousel owl-theme">
                
				
				
				
				
				
				
                <div class="item" onclick="location.href='https://www.ricciwawa.com/?sc=ZmJ0a3UwNzEyMTYyNDA5aGZueHU';">
                    <div class="row">
                        <div class="col-sm">
                            <img src="{% static 'img/resources/new/hskl-1-3.jpg' %}" style="padding: 0px 0px 20px 0px;">
                        </div>
                        <div class="col-sm">
                            <h2 class="h4" style="font-weight:700;">你想跟我看电影吗？</h2>
                            <p class="content">小红：小明，你明天想跟我去看电影吗？<br>小明：什么电影？<br>小红：狮子王。<br>小明：我不太喜欢狮子王。<br>小红：那我们看星球大战吧？<br>小明：好的，然后我们可以喝咖啡。<br>小红：好的，明天见!</p>
                            <p class="resource-type" style="font-weight:500;">Daily conversation</p>
							<a href="#" class="text-decoration-none right-text" style="font-weight:500;">HSK1</a>
                        </div>
                    </div>
                </div>
				
				
				
				
                <div class="item" onclick="location.href='https://www.ricciwawa.com/?sc=bGRjZ2IwNzEyMTcxMTU2b25ibG0'">
                    <div class="row">
                        <div class="col-sm">
                            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/2558/production/_119306590_gettyimages-1096270596.jpg" style="padding: 0px 0px 20px 0px;">
                        </div>
                        <div class="col-sm">
                            <h2 class="h4" style="font-weight:700;">滴滴</h2>
                            <p class="content">滴滴是最常用的打车软件。因为滴滴比较便宜，所以无论距离是远还是近，大部分中国人都用滴滴来打车。<br>在中国，可以用Uber的账号来登陆滴滴，因为滴滴收购了Uber。<br>外国人第一次来中国旅游，不懂汉语，可以直接用Uber来打车，司机跟你的对话会被翻译成英文。</p>
                            <p class="resource-type" style="font-weight:500;">Technology</p>
							<a href="#" class="text-decoration-none right-text" style="font-weight:500;">HSK3</a>
                        </div>
                    </div>
                </div>
				
				
				
				
				<div class="item" onclick="location.href='https://www.ricciwawa.com/?sc=eWFoeWUwNzEyMTcxNzAyc2FlaGM'">
                    <div class="row">
                        <div class="col-sm">
                            <img src="{% static 'img/resources/new/hskl-4-1.jpg' %}" style="padding: 0px 0px 20px 0px;">
                        </div>
                        <div class="col-sm">
                            <h2 class="h4" style="font-weight:700;">亡羊补牢</h2>
                            <p class="content">从前有个人养了很多羊，但是没有给羊建一个羊圈。<br>有一天晚上，从山上跑下来很多狼，吃掉了他十只羊。他很后悔，他应该给羊建一个好的羊圈。在羊被吃掉了以后，他才给羊建了一个羊圈。<br>这个成语的意思是，事情已经发生了，才补救。</p>
                            <p class="resource-type" style="font-weight:500;">Idioms</p>
							<a href="#" class="text-decoration-none right-text" style="font-weight:500;">HSK4</a>
                        </div>
                    </div>
                </div>
				
				
				
				<div class="item" onclick="location.href='https://www.ricciwawa.com/?sc=bHRidGEwNzEyMTcyNzAxcWdrcHY'">
                    <div class="row">
                        <div class="col-sm">
                            <img src="{% static 'img/resources/new/hskl-4-8.jpg' %}" style="padding: 0px 0px 20px 0px;">
                        </div>
                        <div class="col-sm">
                            <h2 class="h4" style="font-weight:700;">中国传统习俗</h2>
                            <p class="content">中国是一个拥有悠久历史的国家，所以在中国文化中有很多习俗。比如，中国人相比较白色，更喜欢红色，因为红色是喜庆的颜色，例如中国人结婚时候穿红色礼服，但是有人去世的时候穿白色衣服。<br>中国人会在重要的节日举行家庭聚餐，比如春节和中秋节。这两个节日的时候，不管家人在哪里工作，都会尽力回到自己的家乡和家人团聚。</p>
                            <p class="resource-type" style="font-weight:500;">History</p>
							<a href="#" class="text-decoration-none right-text" style="font-weight:500;">HSK4</a>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    let owl = $('.owl-section-one .owl-carousel');
                    owl.owlCarousel({
                        items: 1,
                        loop: true,
                        autoplay: true,
						autoplayTimeout:5000,
                        nav: false,
                        autoplayHoverPause: true
                    });
                })
            </script>
			<hr style="border:1px solid;">
        </section>
		
		
		
		
		
		
		
		
		
		<section id="demos" class="owl-section-two">
            <h2 class="h2" style="font-weight:900;">HSK L1</h2>
            <div id="owl-two" class="owl-carousel owl-theme">
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=Z3J4dHEwNzEyMTYwODQzenNudnY" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-1.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">百度</h6>
                    <p style="font-weight:500;">Technology</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
                </a>
				</div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=eWV3ZW4wNzEyMTYyMzMzd2xiYXg" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-2.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">你是哪国人？</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=ZmJ0a3UwNzEyMTYyNDA5aGZueHU" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-3.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">你想跟我看电影吗？</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=c2Roa2owNzEyMTY0ODQ1ZnpudGg" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-4.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">你最喜欢的科目是什么？</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=cnBvbWcwNzEyMTY0OTIwaHNqa3M" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-5.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">天气怎么样？</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=eWV3ZW4wNzEyMTYyMzMzd2xiYXg" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-6.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">你喜欢吃蔬菜吗？</h6>
                    <p style="font-weight:500;">Food</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=b2JmdWYwNzEyMTY1MjAyYWltdnU" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-7.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">你多高？</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=bHp1Z3QwNzEyMTY1MjU0aGpsYm4" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-1-8.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">我的家庭</h6>
                    <p style="font-weight:500;">Narrative</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
            </div>
            <script>
				$('#owl-two').owlCarousel({
				stagePadding: 0,
				rtl:false,
				loop:true,
				margin:0,
				items:1,
				autoplay:true,
				autoplayTimeout:5000,
				autoplayHoverPause: true,
				responsive:{
					0:{
						items:1
					},
					500:{
						items:2
					},
					700:{
						items:3
					},
					1000:{
						items:4
					},
				}
				})
				
				
     
            </script>
			
        </section>
		
		
		
		<section id="demos" class="owl-section-two">
            <h2 class="h2" style="font-weight:900;">HSK L2</h2>
            <div id="owl-three" class="owl-carousel owl-theme">
                
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=dG5zYmowNzEyMTY1MzQ4d2dsZ3Q" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-2-1.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">微信</h6>
                    <p style="font-weight:500;">Technology</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=cmVveWowNzEyMTY1NDE1Z3NsZGI" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-2-2.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">饺子</h6>
                    <p style="font-weight:500;">Food</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=cGdmemIwNzEyMTY1NDQ2ZnVrbW0" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-2-3.jpeg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">来中国玩吧</h6>
                    <p style="font-weight:500;">Travel</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=am13YXkwNzEyMTcwODUxYWJ2bGg" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-2-4.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">你想要什么生日礼物？</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=YWttYWMwNzEyMTcwOTU4anlndW0" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-2-5.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">龟兔赛跑</h6>
                    <p style="font-weight:500;">Idioms</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=YWttYWMwNzEyMTcwOTU4anlndW0" class="text-decoration-none">
                    <! file not found>
					<img src="{% static 'img/resources/new/hskl-2-6.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">龟兔赛跑</h6>
                    <p style="font-weight:500;">Idioms</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=YXhzYXEwNzEyMTcxMDI4eWpqdnY" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-2-7.png' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">幸福是什么？</h6>
                    <p style="font-weight:500;">Soup for Soul</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=YWdwdXQwNzEyMTcxMDU1b2N3ZmU" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-2-8.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">你的外卖可能会晚到一会</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK2</p>
				</a>
                </div>
                
				
            </div>
            <script>
				$('#owl-three').owlCarousel({
				stagePadding: 0,
				rtl:false,
				loop:true,
				margin:0,
				items:1,
				autoplay:true,
				autoplayTimeout:5000,
				autoplayHoverPause: true,
				responsive:{
					0:{
						items:1
					},
					500:{
						items:2
					},
					700:{
						items:3
					},
					1000:{
						items:4
					},
				}
				})
            </script>
			
        </section>
		
		
		
		<section id="demos" class="owl-section-two">
            <h2 class="h2" style="font-weight:900;">HSK L3</h2>
            <div id="owl-four" class="owl-carousel owl-theme">
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=cWVqZmIwNzEyMTcxMTI2aHN1aWE" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-1.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">能打折吗？</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK3</p>
                </a>
				</div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=bGRjZ2IwNzEyMTcxMTU2b25ibG0" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-2.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">滴滴</h6>
                    <p style="font-weight:500;">Technology</p>
                    <p class="right-text" style="font-weight:500;">HSK3</p>
				</a>
                </div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=dWF2aXAwNzEyMTcxMjMwZXBxeWg" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-3.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">租房子</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK3</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=Y21qaHUwNzEyMTcxMzA4cHhlZWE" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-4.jpeg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">在餐厅打工</h6>
                    <p style="font-weight:500;">Work</p>
                    <p class="right-text" style="font-weight:500;">HSK3</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=cWZydngwNzEyMTcxMzU1anduZmY" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-5.jpeg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">我和女朋友的一天</h6>
                    <p style="font-weight:500;">Narrative</p>
                    <p class="right-text" style="font-weight:500;">HSK1</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=eWtlaXYwNzEyMTcxNDMydWlocGo" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-6.webp' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">我的好朋友</h6>
                    <p style="font-weight:500;">Narrative</p>
                    <p class="right-text" style="font-weight:500;">HSK3</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=ZWZ4emIwNzEyMTcxNTA0b2ZsbWQ" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-7.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">季节</h6>
                    <p style="font-weight:500;">Nature</p>
                    <p class="right-text" style="font-weight:500;">HSK3</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=cHF6d3UwNzEyMTcxNTMzZmhzZnA" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-3-8.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">首都</h6>
                    <p style="font-weight:500;">Travel</p>
                    <p class="right-text" style="font-weight:500;">HSK3</p>
				</a>
                </div>
				
            </div>
            <script>
				$('#owl-four').owlCarousel({
				stagePadding: 0,
				rtl:false,
				loop:true,
				margin:0,
				items:1,
				autoplay:true,
				autoplayTimeout:5000,
				autoplayHoverPause: true,
				responsive:{
					0:{
						items:1
					},
					500:{
						items:2
					},
					700:{
						items:3
					},
					1000:{
						items:4
					},
				}
				})
				
				
     
            </script>
			<hr style="border:1px solid;">
            <h2 class="h2" style="text-align:center;padding: 30px 0px;">Here are just a few samples of stories that you will recive.<br><u style="color:#005dff" onclick="if(navigator.vendor === 'Apple Computer, Inc.'){window.open('https://apple.com');}else{window.open('https://play.google.com/store/apps/details?id=com.makebell.ricciwawa');}" onMouseOver="this.style.cursor='pointer'">Download</u> now to view more content.</h2>
            <hr style="border:1px solid;">
        </section>
		
		
		
		<section id="demos" class="owl-section-two">
            <h2 class="h2" style="font-weight:900;">HSK L4</h2>
            <div id="owl-five" class="owl-carousel owl-theme">
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=eWFoeWUwNzEyMTcxNzAyc2FlaGM" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-1.jpg'%}" alt="">
                    <h6 class="h6" style="font-weight:700;">亡羊补牢</h6>
                    <p style="font-weight:500;">Idioms</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
                </a>
				</div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=c3hmZ3YwNzEyMTcxNzMwaWdvYnA" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-2.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">西红柿炒鸡蛋</h6>
                    <p style="font-weight:500;">Food</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
				</a>
                </div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=Y3lzd24wNzEyMTcyMzU0Zmtxano" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-3.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">为什么人们需要学习汉语？</h6>
                    <p style="font-weight:500;">Discussion</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=a2xjcWkwNzEyMTcyNDM0Z2x3d3Y" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-4.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">健康食物</h6>
                    <p style="font-weight:500;">Food</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=YXNzb2YwNzEyMTcyNTA0b3dta3o" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-5.png' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">预定酒店</h6>
                    <p style="font-weight:500;">Daily conversation</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=dnNua2swNzEyMTcyNTQyd3FudGM" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-6.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">莎士比亚</h6>
                    <p style="font-weight:500;">History</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=bW9xaHAwNzEyMTcyNjIzYmhxcXM" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-7.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">奥林匹克运动会</h6>
                    <p style="font-weight:500;">Culture</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=bHRidGEwNzEyMTcyNzAxcWdrcHY" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-4-8.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">中国传统习俗</h6>
                    <p style="font-weight:500;">History</p>
                    <p class="right-text" style="font-weight:500;">HSK4</p>
				</a>
                </div>
				
            </div>
            <script>
				$('#owl-five').owlCarousel({
				stagePadding: 0,
				rtl:false,
				loop:true,
				margin:0,
				items:1,
				autoplay:true,
				autoplayTimeout:5000,
				autoplayHoverPause: true,
				responsive:{
					0:{
						items:1
					},
					500:{
						items:2
					},
					700:{
						items:3
					},
					1000:{
						items:4
					},
				}
				})
				
				
     
            </script>
			
        </section>
		
		
		
		<section id="demos" class="owl-section-two">
            <h2 class="h2" style="font-weight:900;">HSK L5</h2>
            <div id="owl-six" class="owl-carousel owl-theme">
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=dndmcHcwNzEyMTcyNzMzeHF1cG8" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-5-1.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">家庭暴力</h6>
                    <p style="font-weight:500;">News</p>
                    <p class="right-text" style="font-weight:500;">HSK5</p>
                </a>
				</div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=eXRmZXcwNzEyMTcyODA0eHJtd2w" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-5-2.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">AA制</h6>
                    <p style="font-weight:500;">Discussion</p>
                    <p class="right-text" style="font-weight:500;">HSK5</p>
				</a>
                </div>
				
                <div class="item">
				<a href="https://www.ricciwawa.com/?sc=aHVkb2gwNzEyMTcyODQwZmViamE" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-5-3.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">导盲犬</h6>
                    <p style="font-weight:500;">Discussion</p>
                    <p class="right-text" style="font-weight:500;">HSK5</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=dHpqYnAwNzEyMjA1NTIydmp5ZXU" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-5-7.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">春节联欢晚会</h6>
                    <p style="font-weight:500;">Culture</p>
                    <p class="right-text" style="font-weight:500;">HSK5</p>
				</a>
                </div>
				
            </div>
            <script>
				$('#owl-six').owlCarousel({
				stagePadding: 0,
				rtl:false,
				loop:true,
				margin:0,
				items:1,
				autoplay:true,
				autoplayTimeout:5000,
				autoplayHoverPause: true,
				responsive:{
					0:{
						items:1
					},
					500:{
						items:2
					},
					700:{
						items:3
					},
					1000:{
						items:4
					},
				}
				})
				
				
     
            </script>
			
        </section>
		
		
		<section id="demos" class="owl-section-two">
            <h2 class="h2" style="font-weight:900;">HSK L6</h2>
            <div id="owl-seven" class="owl-carousel owl-theme">
				<!--
                <div class="item">
				<a href="#" class="text-decoration-none">
                    <img src="/static/img/resources/new/hskl-6-1.jpg" alt="">
                    <h6 class="h6" style="font-weight:700;">科技与生命</h6>
                    <p style="font-weight:500;">Discussion</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
                </a>
				</div>
				
                <div class="item">
				<a href="#" class="text-decoration-none">
                    <img src="/static/img/resources/new/hskl-6-2.jpg" alt="">
                    <h6 class="h6" style="font-weight:700;">中国新四大发明</h6>
                    <p style="font-weight:500;">Technology</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
				</a>
                </div>
				
                <div class="item">
				<a href="#" class="text-decoration-none">
                    <img src="/static/img/resources/new/hskl-6-3.jpg" alt="">
                    <h6 class="h6" style="font-weight:700;">谈电影</h6>
                    <p style="font-weight:500;">Discussion</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
				</a>
                </div>
				-->
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=bm5jYWkwNzEyMjA1OTI1dmZwdmI" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-6-4.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">亚运会</h6>
                    <p style="font-weight:500;">Culture</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=bHl6dXEwNzEyMjEwMDA2aWdoeWo" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-6-5.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">限制明星高昂片酬</h6>
                    <p style="font-weight:500;">News</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
				</a>
                </div>
				
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=cmpsaW0wNzEyMjEwMDUxaGxnY2g" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-6-6.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">故宫</h6>
                    <p style="font-weight:500;">History</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
				</a>
                </div>
				<!--
				<div class="item">
				<a href="#" class="text-decoration-none">
                    <img src="/static/img/resources/new/hskl-6-7.jpg" alt="">
                    <h6 class="h6" style="font-weight:700;">聪明是天生的吗？</h6>
                    <p style="font-weight:500;">Discussion</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
				</a>
                </div>
				-->
				<div class="item">
				<a href="https://www.ricciwawa.com/?sc=bWphZWUwNzEyMjEwMjIwa3h1c20" class="text-decoration-none">
                    <img src="{% static 'img/resources/new/hskl-6-8.jpg' %}" alt="">
                    <h6 class="h6" style="font-weight:700;">人生的问题</h6>
                    <p style="font-weight:500;">Soup for Soul</p>
                    <p class="right-text" style="font-weight:500;">HSK6</p>
				</a>
                </div>
				
            </div>
            <script>
				$('#owl-seven').owlCarousel({
				stagePadding: 0,
				rtl:false,
				loop:true,
				margin:0,
				items:1,
				autoplay:true,
				autoplayTimeout:5000,
				autoplayHoverPause: true,
				responsive:{
					0:{
						items:1
					},
					500:{
						items:2
					},
					700:{
						items:3
					},
					1000:{
						items:4
					},
				}
				})
				
				
     
            </script>
			
        </section>
		
		
		
		
		<!--
		
		<section id="demos" class="owl-section-two">
            <h2 class="h2" style="font-weight:900;">Fable Stories</h2>
            <div id="owl-fable" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="static/icon/image.webp" alt="">
                    <h6 class="h6" style="font-weight:700;">Dad Brings Me Home for the</h6>
                    <p style="font-weight:500;">Soup for the Soul</p>
                    <a href="#" class="text-decoration-none right-text" style="font-weight:500;">Advanced</a>
                </div>
                <div class="item">
                    <img src="static/icon/image.webp" alt="">
                    <h6 class="h6" style="font-weight:700;">Dad Brings Me Home for the</h6>
                    <p style="font-weight:500;">Soup for the Soul</p>
                    <a href="#" class="text-decoration-none right-text" style="font-weight:500;">Advanced</a>
                </div>
                <div class="item">
                    <img src="static/icon/image.webp" alt="">
                    <h6 class="h6" style="font-weight:700;">Dad Brings Me Home for the</h6>
                    <p style="font-weight:500;">Soup for the Soul</p>
                    <a href="#" class="text-decoration-none right-text" style="font-weight:500;">Advanced</a>
                </div>
                <div class="item">
                    <img src="static/icon/image.webp" alt="">
                    <h6 class="h6" style="font-weight:700;">Dad Brings Me Home for the</h6>
                    <p style="font-weight:500;">Soup for the Soul</p>
                    <a href="#" class="text-decoration-none right-text" style="font-weight:500;">Advanced</a>
                </div>

                <div class="item">
                    <img src="static/icon/image.webp" alt="">
                    <h6 class="h6" style="font-weight:700;">Dad Brings Me Home for the</h6>
                    <p style="font-weight:500;">Soup for the Soul</p>
                    <a href="#" class="text-decoration-none right-text" style="font-weight:500;">Advanced</a>
                </div>

                <div class="item">
                    <img src="static/icon/image.webp" alt="">
                    <h6 class="h6" style="font-weight:700;">Dad Brings Me Home for the</h6>
                    <p style="font-weight:500;">Soup for the Soul</p>
                    <a href="#" class="text-decoration-none right-text" style="font-weight:500;">Advanced</a>
                </div>
            </div>
            <script>
				$('#owl-fable').owlCarousel({
				stagePadding: 0,
				rtl:false,
				loop:true,
				margin:0,
				items:1,
				autoplay:true,
				autoplayTimeout:5000,
				responsive:{
					0:{
						items:1
					},
					500:{
						items:2
					},
					700:{
						items:3
					},
					1000:{
						items:4
					},
				}
				})
            </script>
			
        </section>
		
		-->
		
		

    </div>
	<style>
		a {
			color: black;
		}
		#owl-two img, #owl-three img, #owl-four img, #owl-five img, #owl-six img, #owl-seven img {
			height: 200px;
			object-fit: cover;
		}
	</style>

	{% include 'web/footer.html' %}
</body>

</html>